<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/landingpage.css">
    <title>Ota Health AI</title>
</head>
<body>
    <nav>
        <div>
            <h2>Ota Health Ai</h2>
        </div>

        <div>
            <a href="./Login.html">
                <button>Login</button>
            </a>

            <a href="../template/signup.html">
                <button>SignUp</button>
            </a>
        </div>
    </nav>

    <section>
        <h1>Healthcare AI made easy</h1>
        <h2>Nwankwo-Emmanuel-Ota</h2>
        <h3>Ai Powered Health checker</h3>
        <p class="head">
        </p>
        
        <form action="">
            <div>
                <input type="email" placeholder="Enter your email">
                <input type="password" placeholder="Enter your password">
            </div>
            <div>
                <button>Get Started</button>
            </div>
        </form>
    </section>

    <footer>
        <div>
            <!-- <img src="../Assets/3d-dna.jpg" alt="" srcset=""> -->
        </div>

        <div>
            <h2>Thank You <span>Dr. TITI</span></h2>
        </div>
    </footer>
</body>
</html>