<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/signup.css">
    <title>SignUp | Ota Health AI</title>
</head>
<body>

    <section>
        <div>
            <h1>SignUp</h1>
            <form action="" id="signup_form">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" placeholder="Enter your name" required>

                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Enter your email" required>

                <label for="position">Position</label>
                <input type="position" name="position" id="position" placeholder="Enter your Position" required>

                <label for="department">Deparment</label>
                <input type="department" name="department" id="department" placeholder="Enter your email" required>

                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter your password" required>

                <button id="signup_btn">SignUp</button>
            </form>
            <p>already have an account? <a href="../template/Login.html">Login</a></p>
        </div>
    </section>

    <script src="../utils/signup.js"></script>
    
</body>
</html>